
{% extends "base.html" %}
   
 
{% block contenido %}

   



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peter eres el mejor</title>
</head>
<body>
    <h1>holas soy el mejor</h1>
    <h4>taller de apps sobre nosotros</h4>
</body>
</html>
 <form action="/sobrenosotros" method="post">
   {{ form.csrf_token() }}
   {{ form.titulo.label }}
   {{ form.titulo }}
   {{ form.enviar }}
</form> 
{%if titulo %}
    <h2>{{titulo}}</h2>
{%endif%}

{% endblock %}